@import "tailwindcss";

:root {
  --azul: #1a3c5e;
  --azul-claro: #2980b9;
  --verde: #0ea5a0;
  --gris-fondo: #f4f5f7;
  --gris-texto: #6b7280;
}

body {
  background-color: #f4f5f7;
  font-family: 'Inter', sans-serif;
}